<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br />
    <%= f.text_field :product %>
  </div>
 <p>
 <%= f.fields_for :phones, Phone.new, :multipart => true do |f| %>
  <%= render :partial => "phones/text_field", :locals=>{:f => f} %>
  <% end %>
  </p>
  <p>
    <%= link_to_add_association 'Add Field', f, :phones, :partial => "phones/text_field" -%>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
